@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
  /* background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.64)); */
  background-color: #110F10;
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.ThePage {
  position: relative;
  min-height: 100vh;
  max-width: 1346px;
  margin: 0 auto;;
}

.background-3, .ImagesDiv, .page-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1346px;
}

.background-3 {
  margin-top: 95px;
  mix-blend-mode: saturated;
  filter: blur(1.5px);
  z-index: 1;
  overflow: hidden;
}

.ImagesDiv {
  margin-top: 95px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 770px;
  z-index: 2;
  overflow: hidden;
}

.page-container {
  height: 910px;
  width: 1346px;
  display: grid;
  grid-template-rows: 95px 1fr 45px;
  justify-items: center;
  z-index: 3;
  overflow: hidden;
}

.outline-top {
  max-width: 1346px;
  align-self: start;
}

.outline-bottom {
  max-width: 1346px;
  align-self: end
}

.Introduction {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  max-width: 1010px;
  max-height: 860px;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.95);
  overflow: scroll;
  border: 3px rgba(255, 255, 255, 0.5) solid;
  border-radius: 15px;
}

.Introduction:focus {
  outline: none;
}

.IntroductionModal {
  margin: 25px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.CloseModal {
  position: absolute;
  margin-top: 2px;
  margin-right: 5px;
  text-align: end;
  font-weight: bold;
  font-size: large;
}

.WIP{
  top: 0%;
  left: 57%;
  transform: translate(-50%);
  position: absolute;
  color: red;
  z-index: 10;
  border: red 2px solid;
  font-weight: bold;
}

.menu-container-wrapper{
  margin-left: 107px;
  grid-row: 2;
  width: max-content;
  display: grid;
  height: 770px;
}

.menu-container {
  margin-top: 22px;
  transform: rotate(45deg);
  width: max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3px;
  /* margin-left: 109px;
  margin-top: 22px; */
}

.header {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 15px;
}

.Name {
  grid-row: 1;
  grid-column: 3 / span 2;
  width: 100%;
  margin-left: 15px;
}

.jobTitle {
  grid-row: 2;
  grid-column: 4 / span 3;
  width: 100%;
  margin-top: 10px;
}

.Portfolio {
  grid-row: 3;
  grid-column: 5 / span 2;
  font-weight: 700;
  width: 100%;
  margin-left: 40px;
}

#PortfolioText {
  font-size: 45px;
}

.footer {
  text-align: center;
  grid-row: 3;
  font-size: 15px;
  height: 45px;
  width: 1346px;
}

.button-text {
  display: grid;
  transform: rotate(-45deg);
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
  font-size: 25px;
  top: 45px;
}

.CV {
  margin-top: 25px;
}

.DL {
  margin-top: -85px;
}

.sq-main {
  background: #110F10 0% 0% no-repeat padding-box;
  cursor: pointer;
  width: 175px;
  height: 175px;
  border: 2px solid white;
}

.sq-left {
  background: #231f2098 0% 0% no-repeat padding-box;
  width: 175px;
  height: 175px;
  border: 2px solid white;
}

.sq-middle {
  background: #231F20 0% 0% no-repeat padding-box;
  width: 175px;
  height: 175px;
  border: 2px solid white;
}

.sq-right {
  background: transparent;
  width: 175px;
  height: 175px;
  border: 2px solid white;
}

.hover:hover {
  box-sizing: border-box;
  margin-top: 2px;
  margin-left: 2px;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.square.hover:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.sq2 {
  grid-area: 1 / 2;
}

.sq1 {
  grid-area: 2 / 1;
}

.sq4 {
  grid-area: 2 / 2;
}

.sq7 {
  grid-area: 2 / 3;
}

.sq3 {
  grid-area: 3 / 1;
}

.sq6 {
  grid-area: 3 / 2;
}

.sq9 {
  grid-area: 3 / 3;
}

.sq11 {
  grid-area: 3 / 4;
}

.sq5 {
  grid-area: 4 / 1;
}

.sq8 {
  grid-area: 4 / 2;
}

.sq10 {
  grid-area: 4 / 3;
}

@media (max-width: 720px) {

  .Name, .jobTitle, .Portfolio {
    width: 100%;
    margin-left: 42px;
  } 
  
  .Name {
    grid-row: 1;
    grid-column: 4 / span 2;
  }

  .jobTitle {
    grid-row: 2;
    grid-column: 4 / span 3;
  }

  .Portfolio {
    grid-row: 3;
    grid-column: 5 / span 2;
    font-weight: 700;
  }

  #PortfolioText {
    font-size: 45px;
  }

  .menu-container {
    margin-top: 60px;
  }

  .sq2, .sq8, .sq11, .sq9, .sq3, .sq7 , .sq4, .sq-right, .sq-left, .sq-middle  {
    grid-area: none;
    background: transparent;
    width: 175px;
    height: 175px;
    border: none;
  }

  .sq1 {
    grid-area: 2 / 1;
  }

  .sq6 {
    grid-area: 3 / 2;
  }

  .sq5 {
    grid-area: 2 / 2;
  }

  .sq10 {
    grid-area: 3 / 3;
  }
}